/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root{
    --navbar-height:59px;
}

html{
    scroll-behavior: smooth;
}


/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    

}
 #navbar::before{
     content: "";
     background-color: black;
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -1;
     opacity: 0.4;
 }

#logo{
    margin: -9px -16px;
    

}

#logo img{
    padding: 0px 41px;
    margin: 18px -10px;
    height: 53px;
    
}

#navbar ul{
    display: flex;
    
}

#navbar ul li{
    
    
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Acme', sans-serif;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 20px;
    color: black;

}

#navbar ul li a:hover{
    color: black;
    background-color: white;

}

#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 509px;
    font-family: 'Acme', sans-serif;
}


#Home::before{
    content: "";
     background-color: black;
     position: absolute;
     background: url('../bg.jpg') no-repeat center center/cover;
     top: 0;
     left: 0;
     height: 578px;
     width: 100%;
     z-index: -1;
     opacity: 0.8;
     

    
}
#Home h1{
    text-align: center;
    
}

#Home p{
    text-align: center;
    font-size: 1.5rem;

}

#Home button{
    font-size: 1.3rem;
    border-radius: 204px;
    line-height: 25px;
    width: 165px;
    margin: 35px;

}
#Home button:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
    
    font-family: 'Acme', sans-serif;
}



#services{
    margin: 34px;
    display: flex;
    font-family: 'Acme', sans-serif;
    
    
}

#services .box {
    border: 2px solid red;
    margin: 30px;
    padding: 34px;
    border-radius: 15px;
    background-color:rgb(238, 223, 223);
    justify-content: center;
}
#services .box img{
    border: 2px solid red;
    margin: auto;
    display: block;
    height: 90px;
    border-radius: 15px;

}

#services .box p{
    text-align: center;
   justify-content: center;
}

#aboutus{
     padding: 15px;
    
}


#aboutus  p{
    margin: 12px 23px;
    padding: 12px 23px;
    text-align: center;
    font-size: 26px ;
    justify-content: center;
    font-family: 'Acme', sans-serif;
}

#contactus form{
    display: flex;
    flex-direction: column;
    width: 36%;
    margin: auto;
    justify-content: center;
    
}

#contactus button{
    font-size: 1.3rem;
    width: 165px;
    margin: 35px;
    display: block;
    margin: auto;
    border-radius: 204px;
    cursor: pointer;


}

#contactus button:hover{
    background-color: black;
    color: white;
    


}

#contactus{
    
    position: relative;
    padding: 15px;
    
    

}

#contactus::before{
    content: "";
     background-color: black;
     position: absolute;
     background: url('../img/contact-us-1908763_1920.png') no-repeat center center/cover;
     top: 0;
     left: 0;
     height: 421px;
     width: 100%;
     z-index: -1;
     opacity: 0.8;
     padding-bottom: 34px;

}
#contactus .h-primary-contact {
    margin: -6px;
    font-size: 2.8rem ;
    font-family: 'Acme', sans-serif;
    text-align: center ;
    justify-content: center;
    
    
}

#contactus label{
    font-size: 1.2rem;
    font-family: 'Acme', sans-serif;
}

footer{
    background-color: black;
    color: wheat;
}

footer .center{
    text-align: center;
    justify-content: center;
}